<%= form_with model: @movie do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div><br>

  <div>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div><br>

  <div>
    <%= f.label :movie_type %>
    <%= f.text_field :movie_type %>
  </div><br>

  <div>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div><br>

  <div>
    <%= f.label :release_date %>
    <%= f.datetime_field :release_date %>
  </div><br>

  <div>
    <%= f.submit %>
  </div>

<% end %>