<br><br>
<h1>
  <%= @movie.name %>
</h1>
<div>
  <p>Duration: <%= @movie.duration %><br>
  Movie Type: <%= @movie.movie_type %></p>
</div>
<p>
  <span>Language</span>:<%= @movie.language %>
</p>
<p>
  <span>Release Date</span>:<%= @movie.release_date.strftime("%d/%m/%y") %>
</p>

<h3>About The Movie</h3>
<p><%= @movie.description %></p><br>
