<%= form_with model: @cinema do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div><br>

  <div>
    <%= f.label :city_id, "City" %>
    <%= f.select :city_id, City.all.map{|c| [c.name, c.id]} %>
  </div><br>
  
  <div>
    <%= f.submit %>
  </div>

<% end %>